In [1]:
from db import DB
import pandas as pd

import random
db = DB()

2024-07-20 15:39:54,035 - AppLogger - INFO - MongoDB connection established.

In [2]:
db.find_documents(collection_name="Tournaments")

2024-07-20 15:40:26,605 - AppLogger - ERROR - Error finding documents: db:27017: [Errno -2] Name or service not known (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 669c209ab70d9502affba97d, topology_type: Unknown, servers: [<ServerDescription ('db', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('db:27017: [Errno -2] Name or service not known (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

[]

In [3]:
db.find_documents(collection_name="Users")

[]

In [12]:
x = pd.DataFrame(db.find_documents(collection_name="Users"))
x

,_id,username,email,password,firstname,lastname,school
0,66945125dec355488d4b8af5,ecox,over.baked.potatoes.420@gmail.com,p@ssw0rd,Eli,Cox,NUS
1,66945125dec355488d4b8af6,hcox,over.baked.potatoes.420@gmail.com,p@ssw0rd,Henry,Cox,Edi
2,66945125dec355488d4b8af7,sprice,over.baked.potatoes.420@gmail.com,p@ssw0rd,Skylar,Price,Syd
3,66945125dec355488d4b8af8,bgray,over.baked.potatoes.420@gmail.com,p@ssw0rd,Brooklyn,Gray,Cph
4,66945125dec355488d4b8af9,janderson,over.baked.potatoes.420@gmail.com,p@ssw0rd,Jordan,Anderson,Chi
...,...,...,...,...,...,...,...
88,66945126dec355488d4b8b4d,wjames,over.baked.potatoes.420@gmail.com,p@ssw0rd,Wyatt,James,Edi
89,66945127dec355488d4b8b4e,ccox,over.baked.potatoes.420@gmail.com,p@ssw0rd,Charles,Cox,MIT
90,66945127dec355488d4b8b4f,amartinez,over.baked.potatoes.420@gmail.com,p@ssw0rd,Adrian,Martinez,UCD
91,6694515c13bead8bfc5827aa,amartinezsdf,over.baked.potatoes.420@gmail.com,p@ssw0rd,Adrianasd,Martinezsdf,UCD
92,669452c00ddc8c19acad156d,test,test@test.com,test123!,test,test,tes

In [4]:
# TODO: figure out how to get list of judges for the active round

data = db.find_one_document(collection_name='Tournaments', query={"Tournament Name": "Test Tournament"})

active_round = data['Active Round']
active_round = "Round 1"
judges = pd.DataFrame(data['Judges'])

judge_ids = data['Tournament']['Novice'][active_round]['Judge_ID']

judges = judges[judges['ID'].isin(judge_ids)]
judges = judges.dropna() # drop NA so only judges with email addresses are considered

judges

2024-07-15 14:32:10,752 - AppLogger - INFO - Document found: 6695754b8ead85defb98a7d4

   First Name  Last Name School                              Email  ID
6     William  Henderson    ETH  over.baked.potatoes.420@gmail.com   8
7      Skylar      Price    Syd  over.baked.potatoes.420@gmail.com   4
9    Benjamin    Roberts    Syd  over.baked.potatoes.420@gmail.com  12
17     Hannah     Parker    MIT  over.baked.potatoes.420@gmail.com  13
19   Victoria       Cook    UCD  over.baked.potatoes.420@gmail.com  20
21  Christian     Howard   UCLA  over.baked.potatoes.420@gmail.com   0
22       Anna   Peterson   UCLA  over.baked.potatoes.420@gmail.com  19

In [6]:

db.find_documents(collection_name="Ballots")

[{'_id': ObjectId('66959bafed63b1b0daf21fc4'),
  'Resolution': 'resolution',
  'Affirmative Speaks': 'Speaker Points: 24',
  'Affirmative Comments': 'aff comments',
  'Negative Speaks': 'Speaker Points: 24',
  'Negative Comments': 'aff comments',
  'Competitor Name': 'UWA Washingto',
  'Competitor School': 'UWA',
  'Tabula Rasa Checklist': [True],
  'Judge Name': 'ETH Henderson',
  'Judge School': 'ETH',
  'Reason for Decision': 'asdf',
  'Winning Side': 'Affirmative'},
 {'_id': ObjectId('66959bb5ed63b1b0daf21fc5'),
  'Resolution': 'resolution',
  'Affirmative Speaks': 'Speaker Points: 24',
  'Affirmative Comments': 'aff comments',
  'Negative Speaks': 'Speaker Points: 24',
  'Negative Comments': 'aff comments',
  'Competitor Name': 'UWA Washington',
  'Competitor School': 'UWAd',
  'Tabula Rasa Checklist': [True],
  'Judge Name': 'ETH Henderson',
  'Judge School': 'ETH',
  'Reason for Decision': 'asdf',
  'Winning Side': 'Affirmative'},
 {'_id': ObjectId('66959bd9ed63b1b0daf21fc6'),
  'Resolution': 'resolution',
  'Affirmative Speaks': 'Speaker Points: 24',
  'Affirmative Comments': 'aff comments',
  'Negative Speaks': 'Speaker Points: 24',
  'Negative Comments': 'aff comments',
  'Competitor Name': 'UWA Washington',
  'Competitor School': 'UWAd',
  'Tabula Rasa Checklist': [True],
  'Judge Name': 'ETH Henderson',
  'Judge School': 'ETH',
  'Reason for Decision': 'asdf',
  'Winning Side': 'Affirmative'},
 {'_id': ObjectId('6695a929e9aed7a2c5af3623'),
  'Resolution': '',
  'Affirmative Speaks': 'AFFIRMATIVE (Speaker Points)',
  'Affirmative Comments': '',
  'Negative Speaks': 'NEGATIVE (Speaker Points)',
  'Negative Comments': '',
  'Competitor Name': '',
  'Competitor School': '',
  'Tabula Rasa Checklist': False,
  'Judge Name': '',
  'Judge School': '',
  'Reason for Decision': '',
  'Winning Side': None},
 {'_id': ObjectId('6695aa4a6d4b8d53d4821ea6'),
  'Resolution': 'resolution',
  'Affirmative Speaks': 'Speaker Points: 28',
  'Affirmative Comments': 'aff comments',
  'Negative Speaks': 'Speaker Points: 27',
  'Negative Comments': 'neg comments',
  'Competitor Name': 'ANU Patterson',
  'Competitor School': 'ANU',
  'Tabula Rasa Checklist': [True],
  'Judge Name': 'ETH Henderson',
  'Judge School': 'ETH',
  'Reason for Decision': 'RFD',
  'Winning Side': 'Negative'},
 {'_id': ObjectId('6695aae7489ed9f537f40834'),
  'Resolution': 'resolution',
  'Affirmative Speaks': 23,
  'Affirmative Comments': 'aff comments',
  'Negative Speaks': 25,
  'Negative Comments': 'neg comments',
  'Competitor Name': 'UWA Washington',
  'Competitor School': 'UWA',
  'Tabula Rasa Checklist': [True],
  'Judge Name': 'ETH Henderson',
  'Judge School': 'ETH',
  'Reason for Decision': 'RFD',
  'Winning Side': 'Affirmative'}]

In [7]:
db.truncate_collection(collection_name="Tournaments")

2024-07-06 14:54:16,432 - AppLogger - INFO - Collection 'Tournaments' truncated successfully.

In [11]:
db.truncate_collection(collection_name="Users")

2024-07-14 17:28:49,304 - AppLogger - INFO - Collection 'Users' truncated successfully.

In [7]:
data = { 'username': 'Test', 'email': 'Test@test.com', 'password': 'cheese14', 'firstname': 'Test', 'lastname': 'Test', 'school': 'Test'}